@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Franchise';
    src: url(typography/Franchise.ttf);
}
:root{
    --montserrat: 'Montserrat', sans-serif;
    --franchise: 'Franchise', sans-serif;
    --principal: #f29f05;
    --secundario: #000000;
    --letra: #ffffff;
    --tercer: #40200e; 
}
body{
    margin: 0;
}
/*HEADER*/
.header-desktop{
    display: none;
}
#header-movil label{
    margin: 10px;
}
#header-movil{
    height: 10%;
    background-color: var(--principal);
}
#header-movil div#logo{
    display: inline;
    margin-left: 45%;
}
#header-movil div img{
    height: 50px;
    
}
#menu-header-movil{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franchise';

}
div.elemento-menu{
    padding: 10px;
}
div.elemento-menu a{
    text-decoration: none;
    color: var(--secundario);
}
.reservation_elementos {
    display: none;
}

:checked~.reservation_elementos {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aa771d;
    align-items: center;
    left: 0;
}
.reservation_elementos a{
    padding: 5px;
    text-decoration: none;
    color: black;
}
input.oculto_reserva[type=checkbox] {
    position: absolute;
    left: -999em;
}

.contact_info {
    display: none;
}

:checked~.contact_info {
    display: block;
}

input.oculto_contacto[type=checkbox] {
    position: absolute;
    left: -999em;
}

:checked~#menu-header-movil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aa771d;
    align-items: center;
}
#menu-header-movil {
    display: none;
}
input.oculto_menu[type=checkbox] {
    position: absolute;
    left: -999em;
}
.contact_info div p{
    font-family: var(--montserrat);
    font-size: small;
}
.contact_info div#tel p, .contact_info div#correo p{
    display: inline;
}
.contact_info div#tel img, .contact_info div#correo img{
    width: 16px;
    height: 16px;
}
.contact_info div#social img{
    height: 16px;
    width: 16px;
}
/*FOOTER*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
footer img{
    width: 180px;
    height: 120px;
}
#slogan{
    background-color: var(--secundario);
    color: var(--letra);
    font-family: var(--franchise);
    
}
#slogan h3{
    text-align: center;
    font-size: 25px;
    margin: 4px;
    font-weight: 200;
}
#footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--principal);
}
#footer-content h3{
    font-family: var(--franchise);
    font-size: 24px;
    font-weight: 200;
}

#copyright{
    text-align: center;
    background-color: var(--tercer);
    color: var(--letra);
    font-size: 12px;
}
@media only screen and (min-width: 1024px){
    body{
        margin: 0px;
        font-family: var(--montserrat);
    }
    #header-movil{
        display: none;
    }
    body{
        margin: 0px;
        font-family: var(--montserrat);
    }
    /* -- HEADER -- */
    .header-desktop {
        background-color: var(--principal);
        color: var(--letra);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 10%;
    }
    div#header-menu-desktop{
        display: inline;
        margin-right: 12px;
    }
    #header-menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #header-icons{
        float: right;
    }
    
    /* -- FOOTER --*/
    footer{
        display: flex;
        flex-direction: column;
    }
    
    #slogan{
        background-color: var(--secundario);
        color: var(--letra);
        font-family: var(--franchise);
        
    }
    #slogan h3{
        text-align: center;
        font-size: 32px;
        margin: 4px;
        font-weight: 200;
    }
    #footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        background-color: var(--principal);
    }
    #footer-content h3{
        font-family: var(--franchise);
        font-size: 24px;
        font-weight: 200;
    }
    
    #copyright{
        text-align: center;
        background-color: var(--tercer);
        color: var(--letra);
        font-size: 12px;
    }
}