@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Franchise';
    src: url(typography/Franchise.ttf);
}
:root{
    --montserrat: 'Montserrat', sans-serif;
    --franchise: 'Franchise', sans-serif;
    --principal: #f29f05;
    --secundario: #000000;
    --letra: #ffffff;
    --tercer: #40200e; 
}
body{
    margin: 0;
    padding: 0;
}
/*HEADER*/
.header-desktop{
    display: none;
}
#header-movil label{
    margin: 10px;
}
#header-movil{
    height: 10%;
    background-color: var(--principal);
}
#header-movil div#logo{
    display: inline;
    margin-left: 30%;
}
#header-movil div img{
    height: 50px;
    
}
#menu-header-movil{
    position: absolute;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franchise';

}
div.elemento-menu{
    padding: 10px;
}
div.elemento-menu a{
    text-decoration: none;
    color: var(--secundario);
}
.reservation_elementos {
    display: none;
}

:checked~.reservation_elementos {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aa771d;
    align-items: center;
    left: 0;
}
.reservation_elementos a{
    padding: 5px;
    text-decoration: none;
    color: black;
}
input.oculto_reserva[type=checkbox] {
    position: absolute;
    left: -999em;
}

.contact_info {
    display: none;
}

:checked~.contact_info {
    display: block;
}

input.oculto_contacto[type=checkbox] {
    position: absolute;
    left: -999em;
}

:checked~#menu-header-movil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aa771d;
    align-items: center;
}
#menu-header-movil {
    display: none;
}
input.oculto_menu[type=checkbox] {
    position: absolute;
    left: -999em;
}
.contact_info div p{
    font-family: var(--montserrat);
    font-size: small;
}
.contact_info div#tel p, .contact_info div#correo p{
    display: inline;
}
.contact_info div#tel img, .contact_info div#correo img{
    width: 16px;
    height: 16px;
}
.contact_info div#social img{
    height: 16px;
    width: 16px;
}

/*SECTION*/
#booking{
    font-family: var(--franchise);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
    padding: 20px;
    overflow: hidden;
}
.section-button{
    font-family: var(--montserrat);
    background-color: var(--principal);
    border-radius: 8px;
    padding: 12px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    margin-bottom: 24px;
    width: 50%;
}
#booking img{
    position: absolute;
    overflow: hidden;
    width: 250px;
    right: 0;
    top: 150px;
    margin-right: -100px;
}
/* -- SECTION - MAKE AN ORDER -- */
.about{
    height: 300px;
    background-image: url(img/makeAnOrder.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    border-top: 6px solid var(--tercer);
    border-bottom: 6px solid var(--tercer);
}
#about-capa{
    background-color: rgba(255, 255, 255, 0.7);
    height: 300px;
    width: auto;
}
#about-capa-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
#about-capa-info h3{
    text-transform: uppercase;
    font-family: var(--franchise);
    font-size: 52px;
    margin-bottom: 12px;
    text-align: center;
    letter-spacing: 3px;
}
#about-capa-info p{
    font-size: 24px;
    margin-top: 6px;
}
#about-capa-info button{
    padding: 12px;
    background-color: var(--principal);
    border-radius: 8px;
}
#about-capa-info a{
    color: var(--letra);
    text-decoration: none;
    text-transform: uppercase;
}
/* -- SECTION - SLIDER -- */
#menu-slider{
    height: 450px;
    overflow: hidden;
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
}
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider img {
    width: 300px;
    height: 262px;
}
.slider h2{
    font-family: var(--franchise);
    font-size: 32px;
    margin-bottom: 0px;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
#button-menu{
    background-color: var(--tercer);
    border-radius: 8px;
    padding: 12px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    margin: auto;
}
#button-menu a{
    color: var(--letra);
    text-decoration: none;
}
/*FOOTER*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
footer img{
    width: 55.68px;
    height: 50px;
}
#slogan{
    background-color: var(--secundario);
    color: var(--letra);
    font-family: var(--franchise);
    
}
#slogan h3{
    text-align: center;
    margin: 4px;
    font-weight: 200;
}
#footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--principal);
}
#footer-content h3{
    font-family: var(--franchise);
    font-weight: 200;
    text-align: center;
}
#footer-content p{
    font-size: small;
}
#contact{
    display: none;
}
#copyright{
    text-align: center;
    background-color: var(--tercer);
    color: var(--letra);
    font-size: 12px;
}





@media only screen and (min-width: 1024px){
    body{
        margin: 0px;
        font-family: var(--montserrat);
    }
    #header-movil{
        display: none;
    }
    body{
        margin: 0px;
        font-family: var(--montserrat);
    }
    /* -- HEADER -- */
    div.header-desktop {
        background-color: var(--principal);
        color: var(--letra);
        display: flex;
        align-items: center;
        height: 90px;
    }
    div.header-desktop img#logo{
        margin-left: 50px;
    }
    #header-menu-desktop{
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    #header-menu-desktop a{
        margin: 20px;
        text-decoration: none;
        color: var(--letra);
    }
    #header-menu-desktop a:hover{
        margin: 20px;
        text-decoration: underline;
    }
    #header-icons{
        float: right;
        margin-right: 15px;
    }
    /*SECTION*/
#booking{
    font-family: var(--franchise);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    height: 400px;
    padding: 20px;
}
.section-button{
    font-family: var(--montserrat);
    background-color: var(--principal);
    border-radius: 8px;
    padding: 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    margin-bottom: 24px;
    width: auto;
}
#booking img{
    position: absolute;
    width: 500px;
    right: 0;
    top: 50px;
    margin-right: -150px;
}
    /* -- FOOTER --*/
    footer{
        display: flex;
        flex-direction: column;
    }
    
    #slogan{
        background-color: var(--secundario);
        color: var(--letra);
        font-family: var(--franchise);
        
    }
    #slogan h3{
        text-align: center;
        font-size: 32px;
        margin: 4px;
        font-weight: 200;
    }
    #footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--principal);
    }
    #footer-content img{
        width: 99.9px;
        height: 90px;
    }
    #footer-content h3{
        font-family: var(--franchise);
        font-size: 24px;
        font-weight: 200;
    }
    #contact{
        display: inline;
    }
}