@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Franchise';
    src: url(typography/Franchise.ttf);
}
:root{
    --montserrat: 'Montserrat', sans-serif;
    --franchise: 'Franchise', sans-serif;
    --principal: #f29f05;
    --secundario: #000000;
    --letra: #ffffff;
    --tercer: #40200e; 
}
body{
    margin: 0px;
    font-family: var(--montserrat);
}
/* -- HEADER -- */
header{
    background-color: var(--principal);
    color: var(--letra);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header ul li{
    list-style: none;
    display: inline;
    margin-right: 12px;
}
#header-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#header-icons{
    float: right;
}
/* -- FOOTER -- */
footer{
    display: flex;
    flex-direction: column;
}

#slogan{
    background-color: var(--secundario);
    color: var(--letra);
    font-family: var(--franchise);
    
}
#slogan h3{
    text-align: center;
    font-size: 30px;
    margin: 4px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 1.2;
}
#footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--principal);
    text-align: center;
}
#footer-content h3{
    font-family: var(--franchise);
    font-size: 24px;
    font-weight: 200;
}

#copyright{
    text-align: center;
    background-color: var(--tercer);
    color: var(--letra);
    font-size: 12px;
}
/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){

}

@media only screen and (min-width: 901px){
    /* -- HEADER -- */
    .header{
        padding: 8px 0px;
    }
    /* -- FOOTER -- */
    #footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        background-color: var(--principal);
        padding: 8px 0px;
    }
    #slogan h3{
        font-size: 40px;
    }
}