@font-face {
    font-family: 'Franchise';
    src: url(../typography/Franchise.ttf);
}
body{
    background-color: rgb(155, 100, 100);
}
#menu-header-movil{
    width: 45%;
    background-color: #f29f05;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franchise';
}
div.elemento-menu{
    padding: 10px;
}
div.elemento-menu a{
    text-decoration: none;
    color: black;
}
.reservation_elementos {
    display: none;
}

:checked~.reservation_elementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aa771d;
    align-items: center;
}
.reservation_elementos a{
    padding: 5px;
    text-decoration: none;
    color: black;
}
input.oculto_reserva[type=checkbox] {
    position: absolute;
    left: -999em;
}

.contact_info {
    display: none;
}

:checked~.contact_info {
    display: block;
}

input.oculto_contacto[type=checkbox] {
    position: absolute;
    left: -999em;
}

:checked~#menu-header-movil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aa771d;
    align-items: center;
}
#menu-header-movil {
    display: none;
}
input.oculto_menu[type=checkbox] {
    position: absolute;
    left: -999em;
}